
<div class="row">

  <div class="col-12">

    <form [formGroup]="searchForm">

      <input
      formControlName="title"
      type="text" name="title" value="" placeholder="title">


    <br>

    <select formControlName="type" name="type" autofocus>
      <option value="1" [selected]='true'>Тип объекта</option>
      <option *ngFor='let t of type' [value]='t'> {{t}}</option>
    </select>


    <hr>

    <select formControlName="country" name="country"
    (ngModelChange)="checkCountry($event)">
      <option [selected]='true'>Страна</option>
      <option *ngFor='let al of adressList' [value]='al.country'> {{al.country}}</option>
    </select>


    <select *ngIf='countrySelected' formControlName="region" name="region"
    >

      <option  [selected]='true'>Область</option>
      <option *ngFor='let reg of adressList[countryIndex].regions' [value]='reg.region'> {{reg.region}}</option>

    </select>


    <hr>
      <input
      formControlName="adult"
      placeholder="adult"
      type="text" name="adult" value=""><br>

      <input
      formControlName="children"
      placeholder="children"
      type="text" name="children" value=""><br>
    <hr>
      <input
      formControlName="dateCheckIn"
      placeholder="dateCheckIn"
      type="date" name="dateCheckIn" value=""><br>

      <input
      formControlName="dateCheckOut"
      placeholder="dateCheckOut"
      type="date" name="dateCheckOut" value=""><br>


    <button type="button" name="button" (click)='startSearch()'>Найти</button>
    </form>

    <pre>{{ searchForm.value | json }}</pre>



  </div>
</div>

<div class="row">
  <div class="col-12">

        <div *ngFor='let o of forDisplay; let i = index'
        class="">
<hr>
        <div class="">
          {{o.title}}
          {{o.type}}
        </div>

        <div class="">
      С {{searchForm.get('dateCheckIn').value | date: 'short'}}
      ПО  {{searchForm.get('dateCheckOut').value}}
      ДНЕЙ {{'days'}}
        </div>
        <div class="">
          <span>состав </span>
           <span>взрослых {{searchForm.get('adult').value}}</span>
           <span>детей {{searchForm.get('children').value}}</span>
        </div>

        <div class=""
        *ngFor='let r of forDisplay[i].rooms; let indx = index'>

          {{r.roomname}}
          {{r.adultPrice + r.childrenPrice  }}

          <button (click)='bookOne(i, indx)'>Забронировать</button>
        </div>





<hr>
      </div>



      </div>
  </div>
