<hr>
<form [formGroup]="form">



    <div formGroupName="main">
      <input formControlName="title" name="title" placeholder="Название">
      <select formControlName="type" name="type" autofocus>
        <option value="1" [selected]='true'>Тип объекта</option>
        <option *ngFor='let t of type' [value]='t'> {{t}}</option>
      </select>

    </div>

    <div formGroupName="adress">
      <select formControlName="country" name="country"
      (ngModelChange)="checkCountry($event)">
        <option [selected]='true'>Страна</option>
        <option *ngFor='let al of adressList' [value]='al.country'> {{al.country}}</option>
      </select>


        <select *ngIf='countrySelected' formControlName="region" name="region"
        (ngModelChange)="checkRegion($event)">

          <option  [selected]='true'>Область</option>
          <option *ngFor='let reg of adressList[countryIndex].regions' [value]='reg.region'> {{reg.region}}</option>

      </select>

      <select *ngIf='regionSelected' formControlName="area" name="region">

        <option  [selected]='true'>Район</option>
        <option *ngFor='let area of adressList[countryIndex].regions[regionIndex].areas' [value]='area'> {{area}}</option>

    </select>



      <input *ngIf='regionSelected' formControlName="place" name="place" placeholder="Населенный пункт">
    </div>

    <select formControlName="priceType" name="priceType">

      <option  [selected]='true'>Тип расчета</option>
      <option  value='Ночи'>Ночи </option>
      <option  value='Дни'>Дни </option>

  </select>
<hr>
<!-- childrenRange -->


<div formArrayName="childrenRange">

      <div *ngFor="let cR of childrenRange.controls; let i=index" [formGroupName]="i">

        <input formControlName="from" name="from" placeholder="Возраст с " type="number">
        <input formControlName="to" name="to" placeholder="Восраст по" type="number">


        <br>
        <br>
        </div>

  <button (click)='addChildrenRange()'> Добавить возраста для расчета стоимости детей</button>

</div>





<!-- end childrenRange -->


<!-- Rooms -->
<hr>
    <div formArrayName="rooms">

          <div *ngFor="let room of rooms.controls; let i=index" [formGroupName]="i" appFilledForm >

            <input formControlName="roomname" name="roomname" placeholder="Название номера" >

            <div>

            <input formControlName="adultPrice" name="adultPrice" placeholder="Цена за взрослого" type="number">
            <input formControlName="childrenPrice" name="childrenPrice" placeholder="Цена за ребенка" type="number">

            </div>


            <select formControlName="accommodation" name="accommodation" multiple>
              <option *ngFor='let ac of acc' [value]='ac'> {{ac}}</option>
            </select>
            <br>
            <br>
            </div>


    </div>


  <button (click)='addRoom()'> Добавить номер</button>
<hr>
<!-- end Rooms -->

<!-- description -->

<div formArrayName="description">

      <div *ngFor="let descr of description.controls; let i=index" [formGroupName]="i">


        <select formControlName="feature" name="feature" >
          <option  [selected]='true'>Выберете из вариантов</option>
          <option *ngFor='let f of objFeatures' [value]='f'> {{f}}</option>
        </select>


        <textarea formControlName="description" name="description" placeholder="Описание"></textarea>
        <br>
        <br>
        </div>

  <button (click)='addDescription()'>Добавить элемент описания объекта</button>
</div>

<hr>
<!-- end description -->

<!-- medDescription -->
<div formArrayName="medDescription">

      <div *ngFor="let medDescr of medDescription.controls; let i=index" [formGroupName]="i">


        <select formControlName="feature" name="feature">
          <option  [selected]='true'>Выберете из вариантов</option>
          <option *ngFor='let f of objMedFeatures' [value]='f'> {{f}}</option>
        </select>


        <textarea formControlName="description" name="description" placeholder="Описание"></textarea>
        <br>
        <br>
        </div>

  <button (click)='addMedDescription()'>Добавить элемент MEД описания объекта</button>
</div>
<!-- medDescription -->

<hr>

    <button
    (click)='addNewBookingObject()'
    class="btn btn-primary">Добавить объект</button>
  </form>

  <hr>

<pre>{{ form.value | json }}<pre>
