
<form [formGroup]="form">



    <div formGroupName="main">
      <input formControlName="title" name="title" placeholder="Название">
      <select formControlName="type" name="type" autofocus>
        <option value="1" [selected]='true'>Тип объекта</option>
        <option *ngFor='let t of type' [value]='t'> {{t}}</option>
      </select>

    </div>

    <div formGroupName="adress">
      <select formControlName="country" name="country"
      (ngModelChange)="checkCountry($event)">
        <option [selected]='true'>Страна</option>
        <option *ngFor='let al of adressList' [value]='al.country'> {{al.country}}</option>
      </select>


        <select *ngIf='countrySelected' formControlName="region" name="region"
        (ngModelChange)="checkRegion($event)">

          <option  [selected]='true'>Область</option>
          <option *ngFor='let reg of adressList[countryIndex].regions' [value]='reg.region'> {{reg.region}}</option>

      </select>

      <select *ngIf='regionSelected' formControlName="region" name="region">

        <option  [selected]='true'>Район</option>
        <option *ngFor='let area of adressList[countryIndex].regions[regionIndex].areas' [value]='area'> {{area}}</option>

    </select>



      <input *ngIf='regionSelected' formControlName="place" name="place" placeholder="Населенный пункт">
    </div>

    <select formControlName="priceType" name="priceType">

      <option  [selected]='true'>Тип расчета</option>
      <option  value='Ночи'>Ночи </option>
      <option  value='Дни'>Дни </option>

  </select>


    <div formArrayName="rooms">

          <div *ngFor="let room of rooms.controls; let i=index" [formGroupName]="i">

            <input formControlName="roomname" name="roomname" placeholder="Название номера">


            <input formControlName="priceAdult" name="priceAdult" placeholder="Цена за взрослого">
            <input formControlName="priceChildren" name="priceChildren" placeholder="Цена за ребенка">

            <select formControlName="accommodation" name="accommodation" multiple>
              <option *ngFor='let ac of acc' [value]='ac'> {{ac}}</option>
            </select>

            </div>


          </div>



  <button (click)='addRoom()'> addRoom</button>











    <button>Submit</button>
  </form>

  <p>Value: {{ form.value | json }}</p>
  <p>Validation status: {{ form.status }}</p>
